{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django - SQLite CRUD Operations - {{ is_edit_mode|yesno:"Edit User,Add User" }}</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container mt-5">
      <div class="d-flex justify-content-between mb-3">
        <a href="/users" class="btn btn-secondary">
          <i class="bi bi-arrow-left"></i> Back
        </a>
      </div>
      <h2>{{ is_edit_mode|yesno:"Edit User,Add User" }}</h2>
      {% if messages %}
        {% for msg in messages %}
          <p class="text-{% if msg.tags == 'success' %}success{% else %}danger{% endif %}">{{ msg }}</p>
        {% endfor %}
      {% endif %}
      <form method="post" action="{{user_url}}" novalidate autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">{{ is_edit_mode|yesno:"Update,Submit" }}</button>
      </form>
    </div>

    {% block header %}
        {% include "floating-icon.html" %}
    {% endblock %}

    {% bootstrap_javascript %}
  </body>
</html>
