{% load django_bootstrap5 %}
<!DOCTYPE html>
<html>
  <head>
    <title>Django - SQlite CRUD Operations - All users</title>
    {% bootstrap_css %}
  </head>
  <body>
    <div class="container mt-5">
      <div class="row align-items-center mb-3">
        <div class="col-6">
          <h2>User List</h2>
        </div>
        <div class="col-6 text-end">
          <a href="/users/add" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add user
          </a>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Date of Join</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in allUsers %}
          <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.joined_date }}</td>
            <td>
              <a href="/users/edit/{{user.id}}" class="btn btn-sm btn-outline-primary">
                <i class="bi bi-pencil"></i> Edit
              </a>
              <a href="#" class="btn btn-sm btn-outline-danger">
                <i class="bi bi-trash"></i> Delete
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% block header %}
        {% include "floating-icon.html" %}
    {% endblock %}

    {% bootstrap_javascript %}
  </body>
</html>
